<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MonitorApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonitorApp.Properties.Settings>
            <setting name="PLC" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Filer" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="MySQL_UserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQL_Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="MySQL_Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MySQL_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MySQL_Database" serializeAs="String">
                <value>jw-eap</value>
            </setting>
            <setting name="待料" serializeAs="String">
                <value>2530</value>
            </setting>
            <setting name="生产" serializeAs="String">
                <value>2530</value>
            </setting>
            <setting name="暂停" serializeAs="String">
                <value>2531</value>
            </setting>
            <setting name="急停" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="报警起始地址" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="报警点位个数" serializeAs="String">
                <value>200</value>
            </setting>
        </MonitorApp.Properties.Settings>
        <MonitorApp.Settings>
            <setting name="PLC" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </MonitorApp.Settings>
    </userSettings>
</configuration>