<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MonitorApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonitorApp.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value>PNT TESTING</value>
            </setting>
            <setting name="URL_PostIn" serializeAs="String">
                <value>http://192.168.2.253:48080/admin-api/mes/pallet-process/test-in-single</value>
            </setting>
            <setting name="URL_PostOut" serializeAs="String">
                <value>http://192.168.2.253:48080/admin-api/mes/pallet-process/test-out-single</value>
            </setting>
            <setting name="Filer" serializeAs="String">
                <value>D:/</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value>D:/</value>
            </setting>
            <setting name="Tary" serializeAs="String">
                <value>052</value>
            </setting>
        </MonitorApp.Properties.Settings>
        <MonitorApp.Settings>
            <setting name="PLC" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </MonitorApp.Settings>
    </userSettings>
</configuration>